<h1 class="tutorial__heading--primary">Typescript</h1>
<hr class="tutorial__line"/>
<a class="important-link" href="https://slides.frontend.pl.sdacademy.pro/slides/frameworki-js/02-typescript.html#/" target="_blank">Prezenacja odnośnie Typescript</a>


<p>Podczas czytania prezentacji możesz pisać swój własny kod w Codepen.</p>
<p>Kliknij <strong><a href="https://codepen.io/tuchowsky/pen/NWNboRr" target="_blank">Edit on Codepen</a></strong> i przejdź do edytora kodu.</p>
<p>Możesz też sprawdzić jak wygląda przekompilowany kod z Typescript na Javascript. Znajdź 'View compiled' button w iframe poniżej i kliknij go.</p>

<iframe height="265" style="width: 100%;" scrolling="no" title="create class" src="https://codepen.io/tuchowsky/embed/NWNboRr?height=265&theme-id=dark&default-tab=js,result" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
    See the Pen <a href='https://codepen.io/tuchowsky/pen/NWNboRr'>create class</a> by Artur
    (<a href='https://codepen.io/tuchowsky'>@tuchowsky</a>) on <a href='https://codepen.io'>CodePen</a>.
</iframe>