<p>reactive-forms works!</p>
<p>Dzięki Reactive Forms zadaniem Angulara jest, aby wyciągnąć dane, które użytkownik wpisał w inpucie,
    a dodatkowo Angular może sprawdzać/validować czy dany formularz został poprawnie wypełniony przez użytkownika, a jeżeli nie
    to możemy zmienić stan inputa i poprosić o ponowne wypełnienie formularza.
    To wszystko już dzieje się po stronie Angulara oraz logiki w Twoim komponencie.
    Angular zajmuje się parsowaniem wartości, którą użytkownik wpisuje w inputa oraz zapewnia moduł ReactiveForms
    dzięki, któremu możesz w łatwy sposób odwzorować sobie strukturę formularza który jest w HTML, w pliku .ts danego komponentu.
    Twoje wartości z inputa będą zapisane w obiekcie.
</p>
<p>Reasumując, Angular daje Ci reprezentację Twojego formularza w Javascriptowym obiekcie, dzięki któremu możesz 
   w prosty sposób wyciągnąć dane które wpisał użytkownik oraz w prosty sposób zarządzać stanem formularza.
</p>
<p>Reactive Forms jest bardzo przydatne dla Frontendowca.</p>
<p>Więcej możesz dowiedzieć się <a href="https://angular.io/guide/reactive-forms" target="_blank">tutaj</a> bądź możesz podejrzeć pliki komponentu,
na tym <a target="_blank" href="https://gitlab.com/tuchowsky/angular-typescript-basics-tutorial/-/tree/master/src/app/components/reactive-forms">repo</a>.</p>

<!-- property binding do naszej zmiennej utworzonej w pliku ts -->
<!-- Tip // Nie kontrolujesz formularza z poziomu templatki, kontrolujesz go w pliku ts -->
<form class="form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <h2>Reactive Form</h2>

    <div formGroupName="userData">
        <div class="form__row">
            <label for="username">Username</label>
            <!-- przypisanie inputa do naszego key w obiekcie signupForm  -->
            <input type="text" id="username" formControlName="username"/>
            <span 
                class="error-message"
                *ngIf="!signupForm.get('userData.username').valid && signupForm.get('userData.username').touched">
                Please enter a valid username</span>
        </div>
        <div class="form__row">
            <label for="email">Email</label>
            <input type="email" id="email" formControlName="email"/>
            <span 
                class="error-message"
                *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched">
                Please enter a valid email</span>
        </div>
    </div>

    <div class="hobbies" formArrayName="hobbies">
        <h4>Hobbies</h4>
        <button type="button" (click)="onAddHobby()">Add Hobby</button>
        <div class="form__row" *ngFor="let hobbyControl of getControls(); let i = index;">
            <input type="text" [formControlName]="i" />
        </div>
    </div>


    <div class="form__row">
        <h4>Gender</h4>
        <label for="gender" *ngFor="let gender of genders">
            <input type="radio" id="gender" [value]="gender" formControlName="gender"/>
            {{gender}}
        </label>
    </div>

    <button type="submit">Submit</button>
</form>