$primary-color-dark: #111;
$primary-color-white: #fff;
$grey-1: #999;
$primary-color-accent: #002366;
$secondary-color-accent: #03CEA4;

$primary-color-danger: #FF3A20;



//bootstrap breakpoints
$xlg: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;