<h2 class="tutorial__heading--secondary">Hey user!</h2>
<h1 class="tutorial__heading--primary">This is your basic starter for Angular</h1>
<hr class="tutorial__line"/>
<a href="https://gitlab.com/tuchowsky/angular-typescript-basics-tutorial">gitlab.com/tuchowsky/angular-typescript-basics-tutorial</a>
