<header class="header">
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <a class="nav__link" routerLink="/">Home</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" routerLink="/base">Base</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" routerLink="/typescript">Typescript</a>
      </li>      
      <li class="nav__item">
        <a class="nav__link" routerLink="/lifecycle-hooks">Lifecycle Hooks</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" routerLink="/reactive-forms">Reactive Forms</a>
      </li>
    </ul>
  </nav>
</header>

<main class="angular-tutorial">
  <router-outlet></router-outlet>
</main>