@import './../styles/abstracts/variables';

.header {
    display: flex;
    justify-content: flex-end;
    padding: 0 2rem;

    @media screen and (max-width: $sm) {
        padding: 0;
    }
}

.nav {
    &__list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
    }

    &__item {
        padding: 2rem;
    }
}

.angular-tutorial {
    padding: 2rem 4rem;

    @media screen and (max-width: $sm) {
        padding: 2rem 2rem;
    }
}

